:root {
  /* Main Colors */
  --blue-color: #0075ff;
  --blue-alt-color: #0d69d5;
  --orange-color: #f59e0b;
  --green-color: #22c55e;
  --red-color: #f44336;
  --grey-color: #888;
  --main-transition: 0.3s;
}
* {
  box-sizing: border-box;
}
body {
  font-family: "Open Sans", sans-serif;
  font-weight: 500;
  margin: 0;
  padding: 0;
}
*:focus {
  outline: none;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
::-webkit-scrollbar {
  width: 15px;
}
::-webkit-scrollbar-track {
  background-color: white;
}
::-webkit-scrollbar-thumb {
  background-color: var(--blue-color);
}
::-webkit-scrollbar-thumb:hover {
  background-color: var(--blue-alt-color);
}
/* Global Components */
.page {
  background-color: #f1f5f9;
  min-height: 100vh;
}
/* Nav-bar */
.nav-bar {
  width: 250px;
  box-shadow: 0 0 10px #ddd;
}
.nav-bar > h3 {
  margin-bottom: 50px;
}
.nav-bar > h3::before,
.nav-bar > h3::after {
  content: '';
  position: absolute;
  left: 50%;
  transform: translatex(-50%);
  background-color: black;
}
.nav-bar > h3::before {
  width: 80px;
  height: 2px;
  bottom: -20px;
}
.nav-bar > h3::after {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  bottom: -27px;
  border: 3px solid white;
}
.nav-bar ul li  {
  
}
.nav-bar ul li a {
  transition: .3s;
  margin-bottom: 5px;
}
.nav-bar ul li a.active, 
.nav-bar ul li a:hover {
  background-color: #f6f6f6
}
.nav-bar ul li a span {
  font-size: 14px;
  margin-left: 10px;
}
@media (max-width: 767px) {
  .nav-bar {
    width: 58px;
    padding: 10px
  }
  .nav-bar > h3 {
    font-size: 13px;
    margin-bottom: 15px;
  }
  .nav-bar > h3::before,
  .nav-bar > h3::after,
  .nav-bar ul li a span {
    display: none;
  }
  .nav-bar > h3 span {
    display: block;
  }
}
/* Toggle-switch */
label .toggle-checkbox {
  -webkit-appearance: none;
  appearance: none;
  display: none;
}
label .toggle-switch {
  position: relative;
  width: 78px;
  height: 32px;
  background-color: #ccc;
  border-radius: 16px;
  cursor: pointer;
  transition: var(--main-transition);
}
label .toggle-switch::before {
  content: '\f00d';
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  height: 24px;
  width: 24px;
  background-color: white;
  color: #aaa;
  border-radius: 50%;
  position: absolute;
  top: 4px;
  left: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: var(--main-transition);
}
.toggle-checkbox:checked + .toggle-switch {
  background-color: var(--blue-color);
}
.toggle-checkbox:checked + .toggle-switch::before {
  content: "\f00c";
  left: 50px;
  color: var(--blue-color);
}
/* Start Content */
.content {
  overflow-x: hidden;
}
/* Head */
.head .search input {
  padding-left: 30px;
  border: 1px solid #ccc;
  margin-left: 5px;
  width: 160px;
  border-image: none;
  transition: width var(--main-transition);
}
.head .search::before {
  content: '\f002';
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  color: var(--grey-color);
  position: absolute;
  left: 15px;
  top: 50%;
  font-size: 13px;
  transform: translateY(-50%);
}
.head input::placeholder{
  transition: var(--main-transition);
  font-size: 13px;
}
.head input:focus {
  width: 200px
}
.head input:focus::placeholder{
  opacity: 0;
}
.head .icons .notification::before {
  content: '';
  width: 7px;
  height: 7px;
  border-radius: 50%;
  position: absolute;
  background-color: var(--red-color);
  top: -4px;
  right: -1px;
}
.head .icons img {
  width: 32px;
  height: 32px;
  margin-left: 15px;
}
.content > h1 {
  margin: 20px 20px 40px;
}
.content > h1::before,
.content > h1::after {
  content: '';
  position: absolute;
  height: 3px;
  bottom: -10px;
  left: 0;
}
.content > h1::before {
  background-color: white;
  width: 120px;
}
.content > h1::after {
  background-color: black;
  width: 40px;
}
/* End Global Components */
/* Start Dashboard Page */
/* Wrapper */
.wrapper {
  grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
  margin-right: 20px;
  margin-left: 20px;
  margin-bottom: 20px;
}
@media (max-width: 767px) {
  .wrapper {
    grid-template-columns: minmax(200px, 1fr);
    margin-right: 10px;
    margin-left: 10px;
  }
}
/* Welcome Card */
.welcome .intro img {
  width: 200px;
  margin-bottom: -10px;
}
@media (max-width: 767px) {
  .welcome .intro {
    padding-bottom: 30px;
  }
}
.welcome > img {
  width: 64px;
  height: 64px;
  position: relative;
  margin-left: 15px;
  margin-top: -32px;
  border: 2px solid white;
  border-radius: 50%;
  box-shadow: rgb(221, 221, 221) 0px 0px 5px;
  padding: 2px;
}
@media (max-width: 767px) {
  .welcome > img {
    margin-left: 0;
  }
}
.welcome .body {
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
}
.welcome .body div {
  flex: 1;
}
.welcome .body div:not(:last-child) {
  margin-bottom: 20px;
}
.welcome a {
  margin: 0 15px 15px auto;
  transition: var(--main-transition);
}
.welcome a:hover {
  background-color: var(--blue-alt-color);
}
/* Quick Draft */
.quick-draft form textarea {
  min-height: 180px;
  resize: none;
}
.quick-draft form .save {
  margin-left: auto;
  cursor: pointer;
  transition: var(--main-transition);
}
.quick-draft form .save:hover {
  background-color: var(--blue-alt-color);
}
/* Yearly Targets */
.yearly-targets .targer-row {
  margin-bottom: 15px;
}
.yearly-targets .icon {
  width: 80px;
  height: 80px;
  margin-right: 15px;
}
.yearly-targets .details {
  flex: 1;
}
.yearly-targets .details .progress {
  height: 4px;
} 
.yearly-targets .details .progress > span {
  height: 100%;
  position: relative;
}
.yearly-targets .details .progress > span span {
  position: absolute;
  bottom: 16px;
  right: -16px;
  font-size: 13px;
  padding: 2px 5px;
  border-radius: 6px;
}
.yearly-targets .details .progress > span span::after {
  content: '';
  position: absolute;
  border-color: transparent;
  border-width: 5px;
  border-style: solid;
  bottom: -11px;
  left: 50%;
  transform: translatex(-50%);
}
@media (max-width: 767px) {
  .yearly-targets .details .progress > span span {
    right: -30px;
    transform: rotate(35deg);
  }
}
.yearly-targets .details .progress > span .blue::after {
  border-top-color: var(--blue-color);
}
.yearly-targets .details .progress > span .orange::after {
  border-top-color: var(--orange-color);
}
.yearly-targets .details .progress > span .green::after {
  border-top-color: var(--green-color);
}
.blue .icon,
.blue .progress {
    background-color: rgb(0 117 255 / 20%);
}
.orange .icon,
.orange .progress {
    background-color: rgb(245 158 11 / 20%);
}
.green .icon,
.green .progress {
    background-color: rgb(34 197 94 / 20%);
}
/* Tickets Statistics */
.ticket .box {
  width: calc(50% - 10px);
  border: 1px solid #ccc;
}
@media (max-width: 767px) {
  .ticket .box {
    width: 100%
  }
}
/* Latest News */
.latest-news {
}
@media (max-width: 767px) {
  .latest-news .news-row  {
    gap: 15px
  }
}
.latest-news .news-row:not(:last-child) {
  border-bottom: 1px solid #ddd;
}
.latest-news .news-row  img {
  width: 100px;
  border-radius: 6px;
}
@media (max-width: 767px) {
  .latest-news .news-row  img {
    margin: 0;
  }
}
.latest-news .news-row  .info {
  flex: 1;
}
.latest-news .news-row .label {
  padding: 4px 10px;
}
/* Latest Tasks */
.latest-tasks .task-row:not(:last-child) {
  border-bottom: 1px solid #ddd;
}
.latest-tasks .task-row:nth-child(4) h3, 
.latest-tasks .task-row:nth-child(4) p {
  text-decoration: line-through;
}
.latest-tasks .task-row:nth-child(4) {
  opacity: .3;
}
/* Latest Uploads */
.latest-uploads ul li:not(:last-child) {
  border-bottom: 1px solid #eee;
}
.latest-uploads ul li img {
  width: 40px;
  height: 40px;
}
/* Project Progress */
.project-progress ul {
  position: relative;
}
.project-progress ul::before {
  content: '';
  position: absolute;
  height: 100%;
  width: 2px;
  background-color: var(--blue-color);
  left: 11px;
}
.project-progress ul li {
  margin-top: 25px;
}
.project-progress ul li::before {
  content: '';
  display: block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin-right: 15px;
  outline: 2px solid var(--blue-color);
  border: 2px solid white;
  z-index: 1;
}
.project-progress ul li.done::before {
  background-color: var(--blue-color);
}
.project-progress ul li.none::before {
  background-color: white;
}
.project-progress ul li.still::before {
  animation: filling 1.5s infinite;
}
.project-progress > img {
  width: 160px;
  bottom: 0;
  right: 0;
  opacity: 0.1;
}
/* Start Reminders */
.reminders ul li {
  margin-top: 15px;
}
.reminders ul li span.key {
  width: 15px;
  height: 15px;
}
.reminders ul li > div {
  border-color: transparent;
  border-width: 2px;
  border-style: solid;
}
.reminders ul li > .blue {
  border-left-color: var(--blue-color);
}
.reminders ul li > .green {
  border-left-color: var(--green-color);
}
.reminders ul li > .orange {
  border-left-color: var(--orange-color);
}
.reminders ul li > .red {
  border-left-color: var(--red-color);
}
/* Start Latest Post */
.latest-post .top img {
  width: 48px;
  height: 48px;
}
.latest-post .post-content {
  padding: 20px 0;
  margin: 20px 0;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
  text-transform: capitalize;
  line-height: 1.8;
  font-size: 16px;
}
/* Start Social */
.social-media .box {
  padding-left: 60px;
  margin-bottom: 15px;
}
.social-media .box i {
  position: absolute;
  left: 0;
  top: 0;
  width: 52px;
  font-size: 32px;
  transition: var(--main-transition);
}
.social-media .box i:hover {
  transform: rotate(5deg);
}
.social-media .twitter {
  color: #1da1f2;
  background-color: rgb(29 161 242 / 20%);
}
.social-media .twitter i, 
.social-media .twitter a {
  background-color: #1da1f2;
}
.social-media .facebook {
  color: #1877f2;
  background-color: rgb(24 119 242 / 20%);
}
.social-media .facebook i, 
.social-media .facebook a {
  background-color: #1877f2;
}
.social-media .youtube {
  color: #ff0000;
  background-color: rgb(255 0 0 / 20%);
}
.social-media .youtube i, 
.social-media .youtube a {
  background-color: #ff0000;
}
.social-media .linkedin {
  color: #0a66c2;
  background-color: rgb(10 102 194 / 20%);
}
.social-media .linkedin i, 
.social-media .linkedin a {
  background-color: #0a66c2;
}
/* Start Project Table */
.project-table {
  margin-right: 20px;
  margin-left: 20px;
  margin-bottom: 20px;
}
.responsive-table {
  overflow-x: auto;
}
table {
  min-width: 1000px;
  border-spacing: 0;
}
table thead th {
  background-color: #eee;
  text-align: left;
}
table td, th {
  padding: 15px;
  border-spacing: 0;
  transition: var(--main-transition);
}
table td {
  border-left: 1px solid #eee;
  border-bottom: 1px solid #eee;
}
table td:last-child {
  border-right: 1px solid #eee;
}
table tbody tr:hover td {
  background-color: #FaF7F7;
}
table img {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-color: white;
  padding: 2px
}
table img:not(:first-child) {
  margin-left: -20px
}
table .label {
  font-size: 13px;
}
/* End Content */
/* End Dashboard Page */
/* Start Settings Page */
.settings-page {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
}

@media (max-width: 767px) {
  .settings-page {
    grid-template-columns: minmax(100px, 1fr);
    margin-left: 10px;
    margin-right: 10px;
  }
}
.settings-page .close-message {
  min-height: 150px;
  resize: none;
  font-size: 14px;
}
/* General Info */
.general-info .trick {
  display: flex;
  align-items: flex-end;
}
.general-info .email {
  cursor: no-drop;
  background-color: #f0f4f8;
  color: #bbb;
}
.general-info a {
  position: relative;
  overflow: hidden;
  height: 36px;
}
.general-info a::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: var(--blue-color);
  bottom: 0px;
  left: 0;
  z-index: 1;
  animation: trick 1s linear infinite;
}
/* Security Info */
.security-info > div:not(:last-child) {
  border-bottom: 1px solid #eee;
}
.security-info > div.password a {
  transition: var(--main-transition);
}
.security-info > div.password a:hover {
  background-color: var(--blue-alt-color);
}
/* Social Info */
.social-info .input-field {
  display: flex;
  align-items: center;
}
.social-info .input-field i {
  width: 40px;
  height: 40px;
  background-color: #f6f6f6;
  border: 1px solid #ddd;
  border-radius: 6px 0 0 6px;
  transition: var(--main-transition);
}
.social-info .input-field input {
  height: 40px;
  flex: 1;
  border: none;
  border: 1px solid #ddd;
  border-radius: 0 6px 6px 0;
  background-color: #f6f6f6;
}
.social-info .input-field input::placeholder {
  transition: var(--main-transition);
}
.social-info .input-field input:focus::placeholder {
  opacity: 0;
}
.social-info .input-field:focus-within i {
  color: black;
}
/* Widgets Control */
.widgets-control input[type="checkbox"] {
  -webkit-appearance: none;
  appearance: none;
}
.widgets-control .control {
  margin-bottom: 15px;
}
.widgets-control .control label {
  position: relative;
  padding-left: 30px;
  cursor: pointer;
}
.widgets-control .control label::before,
.widgets-control .control label::after {
  position: absolute;
  left: 0;
  top: 50%;
  margin-top: -9px;
  border-radius: 4px;
  display: flex;
  justify-content:center;
  align-items: center;
}
.widgets-control .control label::before {
  content: '';
  width: 14px;
  height: 14px;
  border: 2px solid var(--grey-color);
}
.widgets-control .control label::after {
  content: '\f00c';
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  width: 18px;
  height: 18px;
  font-size: 12px;
  color: white;
  background-color: var(--blue-color);
  transition: var(--main-transition);
  scale: 0;
  transform: rotate(360deg);
}
.widgets-control .control input[type="checkbox"]:checked + label::after {
  scale: 1;
}
/* Backup Manager */
.backup-manager .radio input[type="radio"] {
  display: none;
}
.backup-manager .radio label {
  padding-left: 30px;
  position: relative;
  cursor: pointer;
}
.backup-manager .radio label::before, 
.backup-manager .radio label::after {
  content: '';
  position: absolute;
  top: 50%;
  border-radius: 50%;
  transition: var(--main-transition);
}
.backup-manager .radio label::before {
  transform: translateY(-50%);
  left: 0;
  width: 18px;
  height: 18px;
  border: 2px solid grey;
}
.backup-manager .radio label::after {
  left: 5px;
  transform: translateY(-49%);
  width: 12px;
  height: 12px;
  background-color: var(--blue-color);
  scale: 0;
}
.backup-manager .radio input[type="radio"]:checked + label::before {
  border-color: var(--blue-color);
}
.backup-manager .radio input[type="radio"]:checked + label::after {
  scale: 1;
}
/* Servers section */
@media (max-width: 767px) {
  .servers {
    flex-wrap: wrap
  }
}
.servers {
  gap: 10px;
  border-top: 1px solid #eee;
}
.servers input[type="radio"] {
  display: none;
}
.servers .server {
  position: relative;
  text-align: center;
  padding: 15px;
  margin-bottom: 15px;
  border: 2px solid #eee;
  border-radius: 10px;
  transition: var(--main-transition);
}
.servers .server label {
  cursor: pointer;
}
.servers input[type="radio"]:checked + .server {
  border-color: var(--blue-color);
  color: var(--blue-color);
}
/* End Settings Page */
/* Start Profile Page */
/* Overview */
@media (max-width: 767px) {
  .profile-page .overview {
    flex-direction: column;
  }
}
.overview .avatar-box {
  width: 300px;
}
@media (min-width: 768px) {
  .overview .avatar-box {
    border-right: 1px solid #eee;
  }
}
.overview .avatar-box img {
  width: 120px;
  height: 120px;
}
.overview .avatar-box .level {
  width: 70%;
  height: 4px;
  margin: auto;
}
.overview .avatar-box .level span {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
}
.overview .avatar-box img {

}
.overview .info-box {
  flex: 1;
}
.overview .info-box .box {
  flex-wrap: wrap;
  border-bottom: 1px solid #eee;
  transition: 0.3s;
}
.overview .info-box .box > div {
  margin-top: 10px;
}
@media (min-width: 768px) {
  .overview .info-box .box > div {
    min-width: 300px;
  }
}
@media (max-width: 767px) {
  .overview .info-box .box > div {
    width: 100%;
  }
}
.overview .info-box .toggle-switch {
  height: 20px;
}
.overview .info-box .toggle-switch::before {
  height: 14px;
  width: 14px;
  top: 3px;
  left: 4px;
  font-size: 8px;
}
.overview .info-box .toggle-checkbox:checked + .toggle-switch::before {
  left: 60px;
}
.other-data .skills {
  flex-grow: 1;
}
.other-data .skills ul li:not(:last-child) {
  border-bottom: 1px solid #eee;
}
.other-data > div {
  margin-top: 20px;
}
.other-data .skills ul li span {
  display: inline-flex;
  background-color: #eee;
  font-size: 15px;
}
@media (min-width: 768px) and (max-width: 991px) {
  .other-data .skills ul li span {
    margin-top: 5px
  }
}
.other-data .skills ul li span:not(:last-child) {
  margin-right: 5px;
}
.other-data .activities {
  flex-grow: 2;
}
.other-data .activity:not(:last-child) {
  border-bottom: 1px solid #eee;
}
.other-data .activity img {
  width: 64px;
  height: 64px;
  margin-bottom: 10px;
}
@media (min-width: 768px) {
  .other-data .activity img {
    margin-right: 10px;
    margin-bottom: 0;
  }
}
@media (max-width: 767px) {
  .other-data .activity .info {
    margin: 20px 0;
  } 
}
@media (min-width: 768px) {
  .other-data .activity .date {
    margin-left: auto;
    text-align: right;
  } 
}
/* End Profile Page */
/* Start Projects Page */
.projects-page {
  grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
}

@media (max-width: 767px) {
  .projects-page {
    grid-template-columns: minmax(200px, 1fr);
    gap: 10px;
    margin-left: -10px;
    margin-right: -10px;
  }
}
.projects-page .project > .date {
  top: 10px;
  right: 10px;
}
.projects-page .project .team {
  min-height: 80px;
}
.projects-page .project .team a {
  position: absolute;
  left: 0;
  bottom: 0;
}
.projects-page .project .team a:hover {
  z-index: 100;
  transition: var(--main-transition);
}
.projects-page .team a:nth-child(2) {
  left: 25px
}
.projects-page .team a:nth-child(3) {
  left: 50px;
}
.projects-page .team a:nth-child(4) {
  left: 75px;
}
.projects-page .team a:nth-child(5) {
  left: 100px;
}
.projects-page .team img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 2px solid white;
}
.projects-page .do {
  justify-content: flex-end;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
}
.projects-page .do span {
  width: fit-content;
}
@media (max-width: 767px) {
  .projects-page .do {
    justify-content: flex-start;
    flex-direction: column;
    gap: 10px
  }
  .projects-page .do span {
    margin: 0;
  }
}
.projects-page .do span:not(:last-child) {
  margin-right: 5px;
}
@media (max-width: 767px) {
  .projects-page .info {
    flex-direction: column;
    gap: 10px
  }
  .projects-page .info .prog {
    max-width: 100%;
  }
}
.projects-page .info .prog {
  height: 8px;
  width: 260px;
}
/* End Projects Page */
/* Start Courses Page */
.courses-page {
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}
@media (max-width: 767px) {
  .courses-page {
    grid-template-columns: minmax(200px, 1fr);
    gap: 10px;
    margin-left: -10px;
    margin-right: -10px;
  }
}
.courses-page .course {
  overflow: hidden;
}
.courses-page .course::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: white;
  top: 49px;
}
.courses-page .course::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: white;
  top: calc(49px + 4px);
}
/* .courses-page .course:nth-child(2)::before, 
.courses-page .course:nth-child(2)::after {
  background-color: var(--grey-color);
}
.courses-page .course:nth-child(3)::before, 
.courses-page .course:nth-child(3)::after {
  background-color: var(--orange-color);
} */
.courses-page .course .cover {
  max-width: 100%;
  border-radius: 10px 10px 0 0 ;
}
.courses-page .course .instructor {
  width: 64px;
  height: 64px;
  border-radius: 50%;
  border: 2px solid white;
  top: 20px;
  left: 20px;
  z-index: 1;
}
.courses-page .course > div p {
  text-transform: capitalize;
  line-height: 1.6;
}
.courses-page .course .info {
  border-top: 1px solid #eee;
}
.courses-page .course .info .title {
  left: 50%;
  transform: translateX(-50%);
  font-size: 13px;
  top: -11px;
  height: 23px;
}
/* End Courses Page */
/* Start Friends Page */
.friends-page {
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
}
@media (max-width: 767px) {
  .friends-page {
    grid-template-columns: minmax(200px, 1fr);
    gap: 10px;
    margin-left: -10px;
    margin-right: -10px;
  }
}
.friends-page .friend .contact {
  top: 10px;
  left: 10px;
}
.friends-page .friend .contact i {
  width: 30px;
  height: 30px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background-color: #eee;
  padding: 10px;
  border-radius: 50%;
  color: #666;
  font-size: 13px;
  cursor: pointer;
  transition: 0.3s;
}
.friends-page .friend .contact i:hover {
  background-color: var(--blue-color);
  color: white;
}
.friends-page .friend img {
  width: 100px;
  height: 100px;
}
.friends-page .friend ul.info {
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
}
.friends-page .friend ul.info > span {
  font-size: 40px;
  font-weight: bold;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
  color: var(--orange-color);
  opacity: 0.2;
}
.friends-page .friend .info li:not(:last-child) {
  margin-bottom: 10px;
}
.friends-page .friend .join {
  padding-top: 10px;
}
.friends-page .friend .buttons {
  display: flex;
  gap: 5px;
}
/* End Friends Page */
/* Start Files Page */
.files-page {
  flex-direction: row-reverse;
  align-items: flex-start;
}
@media (max-width: 767px) {
  .files-page {
    flex-direction: column;
    align-items: normal;
  }
}
.files-page .files-stats {
  min-width: 260px;
  position:sticky;
  top: 0;
}
.files-page .files-stats .box {
  margin-bottom: 10px;
}
.files-stats .box i {
  width: 40px;
  height: 40px;
}
.files-stats .box i.blue {
  background-color: rgb(0 117 255 / 20%);
}
.files-stats .box i.green {
  background-color: rgb(34 197 94 / 20%);
}
.files-stats .box i.red {
background-color: rgb(244 67 54 / 20%);
}
.files-stats .box i.orange {
  background-color: rgb(245 158 11 / 20%);
}
.files-stats .box .size {
  margin-left: auto;
}
.files-stats a {
  margin: 15px auto 0;
  padding: 10px 15px;
  transition: var(--main-transition);
}
.files-stats a:hover {
  background-color: var(--blue-alt-color);
}
.files-stats a:hover i {
  animation: go-up 0.8s infinite;
}
.files-page .files-content {
  flex: 1;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}
@media (max-width: 767px) {
  .files-page .files-content {
    grid-template-columns: minmax(200px, 1fr);
  }
}
.files-content .file .icon img {
  width: 64px;
  height: 64px;
  transition: 0.3s;
}
.files-content .file:hover img {
  transform: rotate(-5deg);
}
.files-content .file .info {
  border-top: 1px solid #eee;
}
/* End Files Page */
/* Start Plans Page */
.plans-page {
  grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
}
@media (max-width: 767px) {
  .plans-page {
    grid-template-columns: minmax(250px, 1fr);
    gap: 10px;
    margin-left: 10px;
    margin-right: 10px;
  }
}
.plans-page .plan .top {
  border: 3px solid white;
  outline: 3px solid transparent;
}
.plans-page .plan .top.green {
  outline-color: var(--green-color);
}
.plans-page .plan .top.orange {
  outline-color: var(--orange-color);
}
.plans-page .plan .top.blue {
  outline-color: var(--blue-color);
}
.plans-page .top .price span:last-child {
  font-size: 40px
}
.plans-page .top .price span:first-child {
  font-size: 25px;
  top: 0;
  left: -20px;
}
.plans-page ul li {
  text-transform: capitalize;
  padding: 15px 0;
  font-size: 15px;
}
.plans-page ul li:not(:last-child) {
  border-bottom: 1px solid #eee;
}
.plans-page ul li i.yes {
  color: var(--green-color);
}
.plans-page ul li i.help {
  margin-left: auto;
  color: var(--grey-color);
}
.plans-page ul li i:not(.help, .yes) {
  color: var(--red-color);
}
.plans-page .plan .join {
  padding: 10px 15px;
}
/* End Plans Page */
/* Animation */
@keyframes filling {
  0%, 
  100% {
    background-color: var(--blue-color);
  }
  60% {
    background-color: white;
  }
}
@keyframes trick {
  from {
    left: -100%;
  }
  to {
    left: 100%;
  }
}
@keyframes go-up {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-5px);
  }
}
/* Bell */
.head .icons .bell {
  animation: shake 2s ease-in-out infinite;
  transform-origin: top center;
}
.head .icons .notification::before {
  animation: hopping 2s infinite;
}
@keyframes shake {
  0% { 
    transform: rotate(0deg);
  }
  15% { 
    transform: rotate(25deg); 
  }
  30% { 
    transform: rotate(-20deg); 
  }
  45% { 
    transform: rotate(15deg); 
  }
  60% { 
    transform: rotate(-10deg); 
  }
  75% { 
    transform: rotate(5deg);
    }
  100% { 
    transform: rotate(0deg); 
  }
}
@keyframes hopping {
  0%,
  50%,
  100% {
    transform: translateY(0);
  }
  20% {
    transform: translateY(-6px) scale(0.9, 1.1);
  }
  30% {
    transform: translateY(0) scale(1.15, 0.85);
  }
  35% {
    transform: translateY(-2px) scale(1);
  }
  50% {
    transform: translateY(0) scale(1);
  }
}