:root {
  /* Main Colors */
  --blue-color: #0075ff;
  --blue-alt-color: #0d69d5;
  --orange-color: #f59e0b;
  --green-color: #22c55e;
  --red-color: #f44336;
  --grey-color: #888;
  --main-transition: 0.3s;
}
* {
  box-sizing: border-box;
}
body {
  font-family: "Open Sans", sans-serif;
  margin: 0;
  padding: 0;
}
*:focus {
  outline: none;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
  padding: 0;
}
::-webkit-scrollbar {
  width: 15px;
}
::-webkit-scrollbar-track {
  background-color: white;
}
::-webkit-scrollbar-thumb {
  background-color: var(--blue-color);
}
::-webkit-scrollbar-thumb:hover {
  background-color: var(--blue-alt-color);
}
.page {
  background-color: #f1f5f9;
  min-height: 100vh;
}
.nav-bar {
  width: 250px;
  box-shadow: 0 0 10px #ddd;
}
.nav-bar > h3 {
  margin-bottom: 50px;
}
.nav-bar > h3::before,
.nav-bar > h3::after {
  content: '';
  position: absolute;
  left: 50%;
  transform: translatex(-50%);
  background-color: black;
}
.nav-bar > h3::before {
  width: 80px;
  height: 2px;
  bottom: -20px;
}
.nav-bar > h3::after {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  bottom: -27px;
  border: 3px solid white;
}
.nav-bar ul li  {
  
}
.nav-bar ul li a {
  transition: .3s;
  margin-bottom: 5px;
}
.nav-bar ul li a.active, 
.nav-bar ul li a:hover {
  background-color: #f6f6f6
}
.nav-bar ul li a span {
  font-size: 14px;
  margin-left: 10px;
}
@media (max-width: 767px) {
  .nav-bar {
    width: 58px;
    padding: 10px
  }
  .nav-bar > h3 {
    font-size: 13px;
    margin-bottom: 15px;
  }
  .nav-bar > h3::before,
  .nav-bar > h3::after,
  .nav-bar ul li a span {
    display: none;
  }
  .nav-bar > h3 span {
    display: block;
  }
}
/* Start Content */
/* Start Head */
.head .search input {
  padding-left: 30px;
  border: 1px solid #ccc;
  margin-left: 5px;
  width: 160px;
  border-image: none;
  transition: width var(--main-transition);
}
.head .search::before {
  content: '\f002';
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  color: var(--grey-color);
  position: absolute;
  left: 15px;
  top: 50%;
  font-size: 13px;
  transform: translateY(-50%);
}
.head input::placeholder{
  transition: var(--main-transition);
  font-size: 13px;
}
.head input:focus {
  width: 200px
}
.head input:focus::placeholder{
  opacity: 0;
}
.head .icons .notification::before {
  content: '';
  width: 7px;
  height: 7px;
  border-radius: 50%;
  position: absolute;
  background-color: var(--red-color);
  top: -4px;
  right: -1px;
}
.head .icons img {
  width: 32px;
  height: 32px;
  margin-left: 15px;
}
.content > h1 {
  margin: 20px 20px 40px;
}
.content > h1::before,
.content > h1::after {
  content: '';
  position: absolute;
  height: 3px;
  bottom: -10px;
  left: 0;
}
.content > h1::before {
  background-color: white;
  width: 120px;
}
.content > h1::after {
  background-color: black;
  width: 40px;
}
/* End Head */
/* Start Wrapper */
.wrapper {
  grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
  margin-right: 20px;
  margin-left: 20px;
}
@media (max-width: 767px) {
  .wrapper {
    grid-template-columns: minmax(200px, 1fr);
    margin-right: 10px;
    margin-left: 10px;
  }
}
/* End Wrapper */
/* Welcome Card */
.welcome .intro img {
  width: 200px;
}
.welcome .body div {
  flex: 1;
}
/* End Content */